<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <link rel="stylesheet" type="text/css" href="{__basePath}/css/style.css" media="screen,projection" />
    <title>Piece Framework Questionnaire Example</title>
  </head>
  <body>
    <h1 class="sitelogo">Piece Framework Questionnaire Example</h1>
    <div id="content">
      {__content:h}
    </div>
    <div class="footer">Copyright &copy; 2006-2007 Piece Project, All rights reserved.</div>
  </body>
</html>
